apiVersion: v1
items:
- kind: Secret
  apiVersion: "v1"
  metadata:
    name: 'rails-bootstrap-secrets'
  stringData:
    application-user: 'admin'
    application-user-email: 'admin@example.com'
    application-user-password: 'changeme'
    database-name: 'proddb'
    database-admin-user: 'adminuser'
    database-admin-password: 'changeme'
    database-user: 'dbuser'
    database-password: 'changeme'
    keybase: '83f5073a5...'
    rails-master-key: 'c56092...'
    smtp-provider-host: 'SMTP_PROVIDER_HOST'
    smtp-provider-domain: 'SMTP_PROVIDER_DOMAIN'
    smtp-provider-username: 'SMTP_PROVIDER_USERNAME'
    smtp-provider-password: 'SMTP_PROVIDER_PASSWORD'
  
kind: List
metadata: []
